hr {
  border: none;
  height: 1px;
  border-color: #a9a9a9;
}
.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor {
  cursor: pointer;
}
